flask>=3.0.0
python-dotenv>=1.0.0
gunicorn>=21.2.0
Flask-SQLAlchemy>=3.0.0
Flask-Login>=0.6.0
Flask-OAuthlib>=0.9.6
requests>=2.28.0
Werkzeug>=2.3.0
Flask-WTF>=1.1.0
pywebpush>=1.14.0
cryptography>=3.4.8
PyMySQL>=1.1.0
alembic>=1.13.0
mariadb>=1.1.0